<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Request an article</title>
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/request/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="form-title">Request an Article</h1>
      <form action = "/request" method="POST">
        <div class="main-user-info">
          <div class="user-input-box">
            <label for="fullName">Your Name</label>
            <input type="text"
                    id="fullName"
                    name="fullName"
                    placeholder="Enter Full Name"/>
          </div>
          <div class="user-input-box">
            <label for="email">Email</label>
            <input type="email"
                    id="email"
                    name="email"
                    placeholder="Enter Email"/>
          </div>
          <div class="user-input-box">
            <label for="senior">Senior Name</label>
            <input type="text"
                    id="senior"
                    name="senior"
                    placeholder="Enter Senior Name"/>
          </div>
          <div class="user-input-box">
            <label for="senior">Senior Social Link</label>
            <input type="text"
                    id="senior"
                    name="seniorLink"
                    placeholder="Enter Senior's social profile link"/>
          </div>
          <div class="user-input-box">
            <label for="company">Company Name</label>
            <input type="text"
                    id="company"
                    name="company"
                    placeholder="Enter Company Name"/>
          </div>
          <div class="user-input-box">
            <label for="personalnote">Personal Note</label>
            <input type="text"
                    id="personalnote"
                    name="personalnote"
                    placeholder="Enter the points to be covered"/>
          </div>
        </div>
        <div class="form-submit-btn">
          <button type="submit">Done</button>
        </div>
      </form>
    </div>
  </body>
</html>