{{>header}}

<header>
  <div class="smoothie">
    <img src="/css/user/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Smoothie Recipes</h2>
    <h3>By Ninjas For Ninjas</h3>
    <a href="/css/user/smoothies" class="btn">View Recipes</a>
  </div>
</header>


{{>footer}}