*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 228, 228);
  background-size: cover;
}

.container{
  width: 100%;
  max-width: 650px;
  height: 60%;
  max-height: 500px;
  background: white; 
  border: 4px solid black;
  padding: 28px;
  margin: 0 28px;
  border-radius: 20px;
  box-shadow: inset -2px 2px 2px white;
}

.form-title{
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: black;
  height: 40px;
  border-bottom: solid 1px black;
}

.main-user-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.user-input-box:nth-child(2n){
  justify-content: end;
}

.user-input-box{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.user-input-box label{
  width: 95%;
  color: black;
  font-size: 16px;
  font-weight: 550;
  margin: 5px 0;
}
/* #personalnote{
  width: 95%;
  border-radius: 6px;
  padding: 4%;
  height: 100%;
} */

.user-input-box input{
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}
.form-submit-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-submit-btn button{
  display: block;
  width: 40%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border:none;
  border-radius: 6px;
  color: black;
  background: #64bcf4;
  cursor: pointer;
  margin-block: auto;
}

@media(max-width: 400px){
  .container{
      min-width: 280px;
  }

  .user-input-box{
      margin-bottom: 12px;
      width: 100%;
  }

  .user-input-box:nth-child(2n){
      justify-content: space-between;
  }
  .main-user-info{
      max-height: 380px;
      overflow:auto;
  }

  .main-user-info::-webkit-scrollbar{
      width: 0;
  }
}