<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Interview Insights</title>
        <link rel="stylesheet" href="/css/welcome/home-page.css">
    </head>
    <body>
        <section>
            <div class="circle"></div>
           <header>
         <a href="#" class="logo"><img src="/images/walchand_logo.png" style="height:10"></a>
         <div class="toggle" onclick="toggleMenu();"></div>
         <ul class="navigation">
         <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/user/login">Log In</a></li>
            <li><a href="/user/signup">Sign Up</a></li>

        </ul> 
           </header>
           <div class="content">
           <div class="textBox">
            <h2>Walchand College Of Engineering Sangli<br> <span>Interview Insights</span></h2>
            <p>Walchand College of Engineering (WCE) was established in 1947 and is located in Vishrambag,
                 Sangli, Maharashtra. This college started with an undergraduate course in Civil Engineering 
                 and a capacity of 60 students.</p>
                  <a href="http://www.walchandsangli.ac.in/">Learn More</a>
                </div>
                </div>   
        </section>
        
   
    </body>
</html>