*{
    font-family: 'poppins';
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
    padding-inline: 5%;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.navButton{
    display: flex;
    gap: 20px;
}
.webName{
    text-decoration: none;
    color: rgb(57, 55, 55);
}
.articleButtons{
    box-shadow: 0px 2px 7px 0px rgba(28, 75, 128, 0.5); 
    background-color: #64bcf4;
    padding: 7px 20px;
    /* border: 1px solid black; */
    border-radius: 7px;
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.completeContainer{
    /* height: 100vh; */
    display: flex;
    margin-inline: 3vw;
    /* background-color: #68DBCC; */
    justify-content: space-between;
}
.companies{
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-y: auto;
    min-width: 300px;
    width: 20%;
    gap: 10px;
    padding: 10px;
}
.company{
    display: flex;
    width: 280px;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(28, 75, 128, 0.5);
}
.count{
    color: white;
    background-color: rgb(70, 67, 67);
    width: 25px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lottie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: 20px;
    width: 700px;
    text-align: center;
}
.lottie .lottieImage{
    width: 500px;
    height: 500px;
}
.articles{
    width: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.article{
    min-width: 400px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(28, 75, 128, 0.5);
}
@media screen and (max-width: 1000px) {
    .lottie{
        display: none;
    }
    .completeContainer{
        justify-content: space-between;
    }
}
@media screen and (max-width: 750px) {
    .lottie{
        display: none;
    }
    .completeContainer{
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    nav{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}