*{
    font-family: 'poppins';
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
    padding-inline: 5%;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.navButton{
    display: flex;
    gap: 20px;
}
.webName{
    text-decoration: none;
    color: rgb(57, 55, 55);
}
.articleButtons{
    box-shadow: 0px 2px 7px 0px rgba(28, 75, 128, 0.5); 
    background-color: #64bcf4;
    padding: 7px 20px;
    /* border: 1px solid black; */
    border-radius: 7px;
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.completeContainer{
    height: 90vh;
    display: flex;
    margin-inline: 3vw;
    /* background-color: #68DBCC; */
    justify-content: space-between;
}
.companies{
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-y: auto;
    direction: rtl;
    width: 300px;
    gap: 10px;
    padding: 10px;
    min-height: 300px;
}
.company{
    display: flex;
    width: 260px;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: white;
    border-radius: 20px;
    direction: ltr;
    box-shadow: 0px 5px 10px 0px rgba(28, 75, 128, 0.5);
    color: black;
}
.removeUnderline{
    text-decoration: none;
    font-weight: 600;
    color: rgb(98, 97, 97);
}
.count{
    color: white;
    background-color: rgb(70, 67, 67);
    width: 25px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lottie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: 20px;
    width: 700px;
    text-align: center;
}
.lottie .lottieImage{
    width: 500px;
    height: 500px;
}
.articles{
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    overflow: auto;
    gap: 10px;
    padding: 10px;
}
.article{
    display: flex;
    flex-direction: column;
    width: 380px;
    gap: 10px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(28, 75, 128, 0.5);
}
.description{
    width: 90%; /* adjust to the desired width of the div */
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width: 1000px) {
    .lottie{
        display: none;
    }
    .completeContainer{
        justify-content: space-between;
    }
}
@media screen and (max-width: 750px) {
    .lottie{
        display: none;
    }
    .completeContainer{
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    .companies{
        height: 30%;
    }
    nav{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* Define the style for the scrollbar track */
::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* Change this to your desired color */
    border-radius: 4px;
  }
  
  /* Define the style for the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #64bcf4; /* Change this to your desired color */
    border-radius: 4px;
  }
  
  /* Define the style for the scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #999; /* Change this to your desired color */
  }
  
  /* Hide the scrollbar when not hovering over it */
  ::-webkit-scrollbar {
    width: 4px; /* Change this to your desired width */
    height: 4px; /* Change this to your desired height */
    background-color: #64bcf4; /* Change this to your desired color */
  }
  
  /* Hide the scrollbar track when not hovering over it */
  ::-webkit-scrollbar-track:hover {
    background-color: #f5f5f5; /* Change this to your desired color */
  }
  
  /* Hide the scrollbar thumb when not hovering over it */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #64bcf4; /* Change this to your desired color */
  }
  
  /* Add a transition effect to the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    transition: background-color 0.2s ease-in-out;
  }