@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 2px #017143 solid;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #fff;
}
header .logo
{
    position: relative;
    max-width: 80px;
}
header ul
{
   position: relative;
   display: flex; 
}

header ul li{
    list-style: none;
}
header ul li a
{
    /* display: inline-block;
    color: #333;
    font-weight:400;
    margin-left: 40px;
    text-decoration: none; */
    list-style: none;
    display: inline-block;
    padding: 3vh 3vw;
    margin: 0.1vw;
    font-size: 1.2vw;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
    text-decoration: none;
}
header ul li a::after{
    content: "";
    background-color: rgb(12, 170, 118);
    width: 70%;
    height: 60%;
    border-radius: 30px;
    position: absolute;
    top:100%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}
header ul li a:hover{
    color: white ;
    /* background-color: rgb(12, 170, 118); */
}
header ul li a:hover::after{
    top: 50%;
    opacity: 1;
}
.content
{
   position: relative;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* flex-direction: column; */
}
.content .textBox
{
    position: relative;
max-width: 600px;}

.content .textBox h2
{
    color: #333 ;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span
{
    color: #017143;
    font-size: 1.0em;
    font-weight: 850;
}
.content .textBox p
{
    padding: 20px;
    color: #333;
    font-size: medium;
    font-weight: 100;
}
.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer;
}

.content .imgBox
{
     width: 1200px;
     display: flex;
     justify-content: flex-end;
     padding-right: 40px;
     margin-top: 10px;
}
.content .imgBox script
{
    max-width: 740px;
}
.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: #017143;
    clip-path: circle(650px at right 900px);   
}
@media(max-width: 991px)
{
    header
    {
        padding: 20px;

    }
    header .logo
    {
        max-width: 60px;
    }
    header ul 
    {
    display: none;
    }
    .toggle
    {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(images/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 11;
    }
    .toggle.active
    {
    position: fixed;
    right: 20px;
    background: url(images/close.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    }
    header ul.navigation.active
    {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    z-index: 10;
    }
    header ul li a 
    {
        display: inline-block;
        color: #333;
        font-size: 1.5em;
        font-weight: 400;
        margin: 5px 0;
        text-decoration: none;
    }
    section
    {
      padding: 20px 20px 120px;
    }
    .content
    {
        flex-direction: column;
        margin-top: 100px;
    }
    .content .textBox h2
    {
        font-size: 2.5em;
        margin-bottom: 15px;
    }
    .content .textBox
    {
        max-width: 100%;
    }
    .content .imgBox
    {
       max-width: 100%;
       justify-content: center;
    } 
    .content .imgBox script
     {
        max-width: 250px;
    }
    .circle
    {
        clip-path: circle(400px at center bottom);
    }
}
.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nutshell{
    background-color:  rgba(62, 168, 148, 0.63);
    width: 100%;
    /* height: 250px; */
    /* margin-left: 250px; */
    border: 4px solid #cfefca;
    border-radius: 10px;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 15vw;
    padding-right: 15vw;
    overflow: auto;
    color: black;
}
.footer .container{
    width: 100%;
    background-color: rgb(12, 170, 118);
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 30px;
}
.footer .container .row{
    display: flex;

}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 300;
	color: black;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: black;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: black;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}